@font-face {
    font-family: gotham-light;
    src: url("/fonts/gotham-light.ttf")
}
@font-face {
    font-family: gotham-med;
    src: url("/fonts/gotham-med.ttf")
}
@font-face {
    font-family: gotham-reg;
    src: url("/fonts/gotham-reg.ttf")
}
body {
    font-family: 'gotham-reg', sans-serif;
    font-size: 16px;
    color: #333;
}
h1 {
    color: #555;
}
.view {
    padding:50px;
}
.logo-container {
    display:inline-block;
    width:100%;
    text-align: center;
    margin-bottom:50px;
}
.logo-circle {
    border-radius: 45px;
    background: #093A59;
    display: inline-block;
    padding: 20px;
}
.logo-circle img {
    width:50px;
}
nav .menu {
    padding: 0 0 0 90px;
}
.side-nav a .fa {
    width: 40px;
    font-size: 25px;
}
.fa.fa-desktop {
    position: relative;
    top: 3px;
}

.fa.fa-sign-out {
    position: relative;
    top: 3px;
}
nav .menu a {
    text-transform:uppercase;
    color: #bbb;
    position:relative;
}
nav .menu a.active {
    color: #fff;
}
nav .menu a:hover {
    color: #fff;
}
.arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffffff transparent transparent;
    position:absolute;
    right:-2px;
    top: 15px;
    display:none;
}
.active .arrow-left {
    display:block;
}
nav .fa.fa-tablet {
    font-size: 30px;
    top: 3px;
    left: 3px;
    position: relative;
}
.dashboard .container-fluid {
	min-height:800px;
}
@media screen and (max-width: 992px) {
    .logo-circle img {
        width: 35px;
    }
    .logo-circle {
        border-radius: 34px;
        padding: 15px;
    }
    nav .menu {
        padding: 0 0 0 27px;
    }
    nav .menu .menu-title {
        display:none;
    }
}
@media screen and (max-height: 800px) {
    .side-nav {
		position:absolute;
		min-height:800px;
	}
}