body {
    background:#06283d;
}
.logo-container {
    display:inline-block;
    width:100%;
    text-align: center;
    margin-bottom:50px;
}
.logo-circle {
    border-radius: 45px;
    background: #093A59;
    display: inline-block;
    padding: 20px;
}
.logo-circle img {
    width:50px;
}
.center {
    text-align:center;
    margin-top:50px;
}
p {
    margin-top:30px;
}
@media screen and (max-width: 550px) {
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
    .back a {
         font-size: 14px;
    }
}