[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
* {
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: gotham-light;
    src: url("/fonts/gotham-light.ttf")
}
@font-face {
    font-family: gotham-med;
    src: url("/fonts/gotham-med.ttf")
}
@font-face {
    font-family: gotham-reg;
    src: url("/fonts/gotham-reg.ttf")
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'gotham-light', sans-serif;
    font-size: 18px;
    color: #333;
    overflow-x:hidden;
}

p {
    color: #ddd;
    font-family: 'gotham-reg', sans-serif;
}

small {
    font-weight: bold;
    color: #ccc;
    font-size: 14px;
    font-family: 'gotham-reg', sans-serif;
}

.navbar {
    border-radius: 0;
    min-height: 80px;
    margin-bottom: 0;
}

.header {
    height: 80px;
    display: block;
    background: rgb(54,56,78);
    z-index: 1;
    position: relative;
}

.side-nav {
    background: #06283d;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 350px;
    padding-top: 50px;
}

.side-nav a {
    display: block;
    color: #fff;
    padding: 25px 10px;
    cursor: pointer;
}
.navbar-nav>li>a {
    padding:30px;
    font-family: 'gotham-reg', sans-serif;
}

nav a:hover, nav a:active, nav a:focus {
    color: #fff;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.error-message {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: left;
}

.container-fluid.has-sidebar {
    width: 100%;
    padding-left: 350px;
}

.sidebar {
    background: rgb(54,56,78);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
}

input.form-control {
    height: 50px;
    border-radius: 2px;
    font-size: 16px;
    font-family: 'gotham-reg', sans-serif;
}

.container-fluid.True {
    animation: fadeIn 0.5s;
}

p.alert {
    margin-top: 10px;
    padding: 5px 15px;
}

.full-widht {
    width: 100%;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'gotham-reg', sans-serif;
    font-size: 42px;
}

.dark-blue-bg {
    background: #06283d;
}

.main-image {
    background: #ccc;
    position:relative;
}

.main-image img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.feature {
    padding-bottom: 100px;
    background:#335070;
}

.feature h2, .supports h2 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.feature .fa {
    color: #fff;
    font-size: 50px;
}

h3 {
    color: #fff;
    font-family: 'gotham-light', sans-serif;
    font-size:20px;
}

.green-text {
    color: #5cb85c;
}

.steps {
    margin-top: 50px;
}

.content-box {
    padding: 100px 0;
    color: #fff;
}

.supports .fa {
    color: #5cb85c;
    font-size: 50px;
}

.supports img {
    height: 50px;
}

.supports .col-md-3, .supports .col-md-4 {
    margin-top: 50px;
}

.main-content {
    position:absolute;
    top:50%;
    margin-top: -100px;
    text-align:center;
    width: 100%;
    padding: 0 20px;
}
.main-content .button-container {
    margin-top: 20px;
}
.main-content .button-container .btn {
    margin-left: 30px;
    height: 60px;
    min-width: 220px;
    line-height: 2.2;
    font-size:20px;
    text-shadow: 1px 1px 2px #000;
    font-family: 'gotham-med', sans-serif;
}
.main-content h1 {
    color:#fff;
    font-size: 45px;
    text-shadow: 3px 2px 5px #000;
    margin-bottom:10px;
}
.main-content p {
    font-size: 25px;
    text-shadow: 3px 2px 5px #000;
    color: #eee;
}
.main-content .button-container .btn:first-child {
    margin-left: 0;
}
.btn {
    border-radius: 1px;
    min-width: 120px;
    font-size:18px;
    color:#fff;
    height: 50px;
    line-height: 1.9;
    padding: 6px 15px;
}
.btn.btn-default {
    background-color: transparent;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active   {
    background-color: transparent;
    color:#fff;
}
.navbar-brand {
    height:80px;
    padding: 25px 15px;
}
.navbar-brand span {
    position:relative;
    font-size:20px;
    text-shadow: 1px 1px 1px #ccc;
    font-family: 'gotham-med', sans-serif;
}
.navbar-brand img {
    max-width:35px;
    display:inline-block;
    position: relative;
    top: -3px;
}
.navbar-default {
    background-color: rgba(248,248,248,0.9);
}
.navbar-toggle {
    margin-top: 25px;
}
.back {
    position: absolute;
    top:20px;
    left:20px;
    z-index:10;
}
.back a {
    color:#fff;
    text-decoration:none;
    font-family: 'gotham-med', sans-serif;
}
.back a .fa {
    margin-right:10px;
}
.back a:hover,.back a:active, .back a:focus  {
    color:#fff;
    text-decoration:none
}

.btn-success {
    background:#00db7c;
}
.btn-success:hover {
   background:#63C166;
}

form label {
   color: #555572;
   font-size: 16px;
   font-weight: normal;
   font-family: 'gotham-med', sans-serif;
}
.uppercase {
	text-transform:uppercase;
}
.capital {
	text-transform: capitalize;
}
@media screen and (max-width: 992px) {
    .steps .col-md-4 {
        height: 150px;
    }
    .container-fluid.has-sidebar {
        width: 100%;
        padding-left: 100px;
    }
    .side-nav {
        width: 100px;
    }
}
@media screen and (max-width: 768px) {
    .main-content h1 {
        font-size: 30px;
    }
    .main-content p {
        font-size:18px;
    }
    .main-content {
        margin-top: -50px;
    }
}
@media screen and (max-width: 600px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
         position:relative;
    }
    .main-content {
        margin-top: -90px;
    }
    .main-content .button-container .btn {
        height: 50px;
        min-width: 200px;
        line-height: 2.1;
        font-size: 16px;
    }
}
@media screen and (max-width: 550px) {
    
    .main-content .button-container .btn {
        height: 50px;
        min-width: 150px;
        line-height: 1.9;
        font-size: 18px;
    }
    .content-box {
        padding: 50px 0;
    }
    .steps .col-md-4 {
        height: 130px;
    }
    .content-box h3 {
        font-size: 18px;
    }
    .main-content .button-container {
        text-align:center;
    }
    .feature h2, .supports h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    .main-content {
         margin-top: -70px;
    }
    .main-content p {
        font-size:16px;
    }
    .main-content .button-container .btn {
        height:40px;
        min-width: 130px;
        font-size: 17px;
        line-height: 1.6;
    }
}
@media screen and (max-width: 450px) {
    
    .main-content .button-container .btn {
        min-width:100px;
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .main-content .button-container {
        margin-top:10px;
    }
    .main-content .button-container .btn {
        margin-left: 10px;
        height:40px;
        min-width: 80px;
        line-height: 1.9;
        font-size: 14px;
    }
}


