<div class="panel animated {{form.animate}}" ng-if="form.displayForm">
    <h1>
        <span>{{strings['create_app']}}</span>
    </h1>
   <form name="appForm" class="form">
       <div class="form-group">
           <input type="text"
                  placeholder="App Name" 
                  class="form-control {{form.error}}" 
                  ng-model="form.model.name"
                  ng-required="true"/>
       </div>
       <button type="button" class="btn btn-success" ng-click="onCreate(appForm)">{{strings['create']}}</button>
       <button type="button" class="btn btn-default" ng-click="closeForm()">{{strings['cancel']}}</button>
   </form>
</div>
