<h1>PROFILE</h1>
<form>
    <div class="form-group">
        <label>E-mail</label>
        <input type="email" name="email" class="form-control"/>    
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control"/>    
    </div>
    <div class="form-group">
        <label>New password</label>
        <input type="password" name="newPassword" class="form-control"/>    
    </div>
    <div class="form-group">
        <label>Confirm password</label>
        <input type="password" name="confirmPassword" class="form-control"/>    
    </div>
    <div class="form-group">
        <label>Old password</label>
        <input type="password" name="oldPassword" class="form-control"/>    
    </div>
    <button type="button">Save</button>
</form>