<!DOCTYPE>
<html>
	<head>
		<title>REST Builder | 500</title>
        <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/css/error.css" rel="stylesheet" type="text/css" />
        <link href="css/fas/css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
            <div class="back"><a href="/"><i class="fa fa-arrow-left"></i> BACK</a></div>
            <div class="center">
                <div class="logo-container">
                    <div class="logo-circle">
                        <img src="img/logo-r.png" alt="logo">
                    </div>
                </div>
                <h1>Internal Server Error</h1>
                <p>Server error please try again or contact administrator.</p>
            </div>
		</div>
	</body>
</html>
